$icon_font_name:"Icons";
@font-face {
	font-family:$icon_font_name;
	src: url('fonts/Icons.eot');
	src: url('fonts/Icons.eot?#iefix') format('eot'),
	url('fonts/Icons.woff') format('woff'),
	url('fonts/Icons.ttf') format('truetype'),
	url('fonts/Icons.svg#Icons') format('svg');
}
[class*='icon-']:before{
   font-family: $icon_font_name;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}

.icon-action:before {
	content:'\E001';
}
.icon-applied:before {
	content:'\E002';
}
.icon-apply:before {
	content:'\E003';
}
.icon-arrow-right:before {
	content:'\E004';
}
.icon-arrow-top:before {
	content:'\E005';
}
.icon-back-menu:before {
	content:'\E006';
}
.icon-bag:before {
	content:'\E007';
}
.icon-bottom:before {
	content:'\E008';
}
.icon-cancel:before {
	content:'\E009';
}
.icon-cart:before {
	content:'\E00A';
}
.icon-category-amulets:before {
	content:'\E00B';
}
.icon-category-bracelets:before {
	content:'\E00C';
}
.icon-category-brilliants-jewelery:before {
	content:'\E00D';
}
.icon-category-chains:before {
	content:'\E00E';
}
.icon-category-crosses:before {
	content:'\E00F';
}
.icon-category-earring:before {
	content:'\E010';
}
.icon-category-laces:before {
	content:'\E011';
}
.icon-category-men-rings:before {
	content:'\E012';
}
.icon-category-necklace:before {
	content:'\E013';
}
.icon-category-pendants:before {
	content:'\E014';
}
.icon-category-wedding-rings:before {
	content:'\E015';
}
.icon-category-women-rings:before {
	content:'\E016';
}
.icon-check:before {
	content:'\E017';
}
.icon-close:before {
	content:'\E018';
}
.icon-close2:before {
	content:'\E019';
}
.icon-delivery:before {
	content:'\E01A';
}
.icon-facebook:before {
	content:'\E01B';
}
.icon-fast-del:before {
	content:'\E01C';
}
.icon-filter:before {
	content:'\E01D';
}
.icon-google:before {
	content:'\E01E';
}
.icon-hands:before {
	content:'\E01F';
}
.icon-heart-fill:before {
	content:'\E020';
}
.icon-heart:before {
	content:'\E021';
}
.icon-ico-dostavka-page-02:before {
	content:'\E022';
}
.icon-ico-dostavka-page:before {
	content:'\E023';
}
.icon-icon-mini:before {
	content:'\E024';
}
.icon-instagram:before {
	content:'\E025';
}
.icon-left-big:before {
	content:'\E026';
}
.icon-left:before {
	content:'\E027';
}
.icon-light:before {
	content:'\E028';
}
.icon-link:before {
	content:'\E029';
}
.icon-list-logo:before {
	content:'\E02A';
}
.icon-mac:before {
	content:'\E02B';
}
.icon-mail:before {
	content:'\E02C';
}
.icon-mark:before {
	content:'\E02D';
}
.icon-menu:before {
	content:'\E02E';
}
.icon-mobile-phone:before {
	content:'\E02F';
}
.icon-money:before {
	content:'\E030';
}
.icon-odnoklassniki:before {
	content:'\E031';
}
.icon-phone:before {
	content:'\E032';
}
.icon-pin-map:before {
	content:'\E033';
}
.icon-right-big:before {
	content:'\E034';
}
.icon-right:before {
	content:'\E035';
}
.icon-rule:before {
	content:'\E036';
}
.icon-search:before {
	content:'\E037';
}
.icon-shema:before {
	content:'\E038';
}
.icon-sort:before {
	content:'\E039';
}
.icon-tmubl:before {
	content:'\E03A';
}
.icon-tovar-minus:before {
	content:'\E03B';
}
.icon-tovar-pluse:before {
	content:'\E03C';
}
.icon-twitter:before {
	content:'\E03D';
}
.icon-video:before {
	content:'\E03E';
}
.icon-vk:before {
	content:'\E03F';
}
.icon-weight-fill:before {
	content:'\E040';
}
.icon-weight:before {
	content:'\E041';
}
.icon-youtube:before {
	content:'\E042';
}