header.header.clearfix
  .header-top.clearfix
    .container
      .header-top__left
        ul
          li
            a(href="#") Доставка и оплата
          li
            a(href="#") Гарантия
          li
            a(href="#") О компании
          li
            a(href="#") Новости
      .header-top__right
        | 1-800-987-65-43
  .header-middle.clearfix
    include _cart
    .container
      .menu-button-general(data-activates="slide-out")
        span
        span
        span
      .header-search
        form(action="#")
          button(type="submit")
            span.icon-search
          input(type="text",value="",placeholder="Что вы ищете?")
      .header-logo
        a(href="#")
          img(src="images/Euro Gold - Logo.svg",alt="")
      .header-middle__right
        a(href="#").user-button
          span.icon-list-logo
          | Профиль
        a(href="#").cart-button.js_cart
          span.icon-cart
          | Ваш заказ
          span.count-cart 1
  .header-bottom
    .container
      .navigation-catalog
        ul
          li
            a(href="#",data-activates='drop-catalog-1').dropdown-head-nav
              i Изделия с   бриллиантами
            ul#drop-catalog-1.dropdown-content
              li
                a(href='#') Женские кольца
              li
                a(href='#') Мужские кольца
              li
                a(href='#') Серьги
              li
                a(href='#') Кресты
              li
                a(href="#") Кулоны
          li
            a(href="#",data-activates='drop-catalog-2').dropdown-head-nav
              i Женские  кольца
            ul#drop-catalog-2.dropdown-content
              li
                a(href='#') Золотые кольца
              li
                a(href='#') Серебрянные кольца
          li
            a(href="#")
              i Мужские  печатки
          li
            a(href="#")
              i Серьги
          li
            a(href="#")
              i Обручальные кольца
          li
            span
              i Браслеты
          li
            a(href="#")
              i Цепи
          li
            a(href="#")
              i Кулоны
          li
            a(href="#")
              i Кресты, ладанки
          li
            a(href="#")
              i Колье, шнурки, булавки










