// mp-menu
.mobile-level-menu
  .menu-button
    span
    span
    span

  .mobile-level-level.clearfix
    ul.mobile-level-ul
      li
        a.icon-dashboard(href='#').mb-lev-1
          span Dashboard
        .mobile-level
          a.mobile-level-back(href='#')
            span.icon-back-menu
            | Forecasts S&D
          ul
            li
              span S&D Map
            li
              a(href='#') UkrAgroConsult
            li
              a(href='#') USDA
      li
        a.icon-data-menu(href='#').mb-lev-1
          span Data
        .mobile-level
          a.mobile-level-back(href='#')
            span.icon-back-menu
            | Forecasts S&D
          ul
            li
              a(href='#') National Geographic
            li
              a(href='#') Scientific American
            li
              a(href='#') The Spectator
            li
              a(href='#') The Rambler
            li
              a(href='#') Physics World
            li
              a(href='#') The New Scientist
      li
        a.icon-tools-menu(href='#').mb-lev-1
          span Tools
        .mobile-level
          a.mobile-level-back(href='#')
            span.icon-back-menu
            | Forecasts S&D
          ul
            li
              a(href='#') National Geographic
            li
              a(href='#') Scientific American
            li
              a(href='#') The Spectator
            li
              a(href='#') The Rambler
            li
              a(href='#') Physics World
            li
              a(href='#') The New Scientist
      li
        a.icon-community-menu(href='#').mb-lev-1
          span Community
        .mobile-level
          a.mobile-level-back(href='#')
            span.icon-back-menu
            | Forecasts S&D
          ul
            li
              a(href='#') S&D Map
            li
              a(href='#') UkrAgroConsult
            li
              a(href='#') USDA
      li
        a.icon-news-menu(href='#').mb-lev-1
          span News
        .mobile-level
          a.mobile-level-back(href='#')
            span.icon-back-menu
            | Forecasts S&D
          ul
            li
              a(href='#') S&D Map
            li
              a(href='#') UkrAgroConsult
            li
              a(href='#') USDA
// /mp-menu
