.left-fixed-nav.side-nav#slide-out
  .left-fixed-nav__head
    img(src="images/Euro Gold - Logo.svg",alt="")
  .left-fixed-nav__body
    .header-search
      form(action="#")
        button(type="submit")
          span.icon-search
        input(type="text",value="",placeholder="Что вы ищете?")
    .header-middle__right
      a(href="#").user-button
        span.icon-list-logo
        | Профиль
      a(href="#").cart-button
        span.icon-cart
        | Ваш заказ
        span.count-cart 1
    .left-fixed-nav__over
      ul
        li.with-menu
          a(href="#").with-menu-lnk
            | Изделия с   бриллиантами
          span.drop-nav.icon-bottom
          ul
            li
              a(href='#') Женские кольца
            li
              a(href='#') Мужские кольца
            li
              a(href='#') Серьги
            li
              a(href='#') Кресты
            li
              a(href="#") Кулоны
        li.with-menu
          a(href="#")
            | Женские  кольца
          span.drop-nav.icon-bottom
          ul
            li
              a(href='#') Золотые кольца
            li
              a(href='#') Серебрянные кольца
        li
          a(href="#")
            | Мужские  печатки
        li
          a(href="#")
            | Серьги
        li
          a(href="#")
            | Обручальные кольца
        li
          span
            | Браслеты
        li
          a(href="#")
            | Цепи
        li
          a(href="#")
            | Кулоны
        li
          a(href="#")
            | Кресты, ладанки
        li
          a(href="#")
            | Колье, шнурки, булавки
