doctype html
html
  head
    include _head
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body.inner-page
    noscript
      div
        strong Для полной функциональности этого сайта необходимо включить JavaScript. Вот 
        a(href="https://artjoker.ua/ru/blog/how-to-enable-javascript/" target="_blank") инструкции,
        | как включить JavaScript в вашем браузере. 
    //if lte IE 8
      p.off-js
        | Ваш браузер устарел, пожалуйста 
        b обновите
        |  его.
    // PRELOADER
    include _preloader
    // PRELOADER
    .page-wrap
      // wrapper start
      include _mobile__nav
      .wrapper
        .overlay-cart
        // header SECTION
        include _header
        // header SECTION
        //catalog section
        section.product-section
          .container
            .breadcrumbs
              ul
                li
                  a(href="#") Ювелирные украшения
                li
                  a(href="#") Серьги
                li
                  span С бриллиантом 1 карат
            .product-gen-cont
              .row
                .col.l6.s12
                  .product-slider
                    .product-big-images
                      span.video-view.icon-video Видео обзор
                      img(src='assets/images/product1.jpg',data-zoom-image="assets/images/product1.jpg",alt="")
                    #gal-product.product-slider-nav
                      a.elevatezoom-gallery.active(href='#',style="background:url('assets/images/product1.jpg') no-repeat", data-image='assets/images/product1.jpg', data-zoom-image='assets/images/product1.jpg')
                      a.elevatezoom-gallery(href='#',style="background:url('assets/images/banner2.jpg') no-repeat", data-image='assets/images/banner2.jpg', data-zoom-image='assets/images/banner2.jpg')
                      a.elevatezoom-gallery(href='#',style="background:url('assets/images/news1.jpg') no-repeat", data-image='assets/images/news1.jpg', data-zoom-image='assets/images/news1.jpg')
                      a.elevatezoom-gallery(href='#',style="background:url('assets/images/product1.jpg') no-repeat", data-image='assets/images/product1.jpg', data-zoom-image='assets/images/product1.jpg')
                  .complect-product
                    span.complect-product__head Этот товар входит в комлект
                    ul
                      li.compl-prd
                        .compl-prd-img
                          img(src="assets/images/compl1.jpg",alt="")
                        .prod-price
                          b 469 900
                          | руб.
                      li.compl-prd
                        .compl-prd-img
                          img(src="assets/images/compl2.jpg",alt="")
                        .prod-price
                          b 355 890
                          | руб.
                      li.compl-prd
                        .compl-prd-img
                          img(src="assets/images/compl3.jpg",alt="")
                        .prod-price
                          b 28 490
                          | руб.
                      li.compl-prd.compl-prd--total
                        .total-price-old
                          span 854 280
                          | руб.
                        .total-price-new
                          b 799 900
                          | руб.
                .col.l6.s12
                  .product-info
                    .product-info__name Золотое кольцо с бриллиантом 1 карат "Династия", КД7556/1
                    .product-status.green Есть в наличии
                    .product-char
                      .product-char-warning
                        | ВЫГОДНАЯ 
                        br
                        | ЦЕНА ЗОЛОТА
                        br
                        span 1010 ГРН.
                        | ЗА ГРАММ!
                      .product-char-row
                        .product-char-col
                          span  Размеры:
                        .product-char-col
                          .change-size
                            span.active(data-size="3.37",data-price="469 900") 17
                            span(data-size="3.5",data-price="480 000") 17.5
                            span(data-size="4",data-price="495 000") 18
                      .product-char-row
                        .product-char-col
                          span  Металл:
                        .product-char-col
                          | золото
                      .product-char-row
                        .product-char-col
                          span  Вес изделия:
                        .product-char-col
                          span.js_weight 3.37
                          | гр
                      .product-char-row
                        .product-char-col
                          span  Камень:
                        .product-char-col
                          | бриллиант
                      .product-char-row
                        .product-char-col
                          span  Страна-производитель:
                        .product-char-col
                          | Украина
                      .product-char-row
                        .product-char-col
                          span  Цвет металла:
                        .product-char-col
                          | белый
                    .product-price
                      .old-price
                        span 470 900
                        | руб.
                      .cur-price
                        span.js_prod_price 469 900
                        | руб.
                    .product-free-delivery
                      span.icon-delivery
                      | БЕСПЛАТНАЯ ДОСТАВКА ДО ДВЕРЕЙ
                    .product-free-grav
                      | Добавить бесплатную гравировку
                    .product-buy
                      .product-buy-phone
                        | Заказ по телефону
                        b 0-800-21-00-14
                        span.tt-upp БЕСПЛАТНЫЙ НОМЕР
                      a(href="#").btn.waves-effect.waves-light Купить
                      br
                      a(href="#").all-butt.waves-effect.waves-light Купить в кредит
                    .product-button
                      .product-item__button
                        span.to-wishlist
                          span.icon-butt
                            img(src='images/heart.svg', alt='')
                            img.fill(src='images/heart-fill.svg', alt='')
                          | Нравится
                        span.to-compare
                          span.icon-butt
                            img(src='images/weight.svg', alt='')
                            img.fill(src='images/weight-fill.svg', alt='')
                          | К сравнению

                    .product-card-list
                      span Мы принимаем к оплате:
                      img(src="images/foot.png",alt="")
                    .product-instruction
                      ul
                        li
                          a(href="#") Инструкция по уходу
                        li
                          a(href="#") Как узнать размер кольца
                        li
                          a(href="#") Купить в кредит
                        li
                          a(href="#") Фото упаковки
                        li
                          a(href="#") Проба золота 585
              .row
                .col.s12
                  .product-tab
                    .product-tab-nav
                      ul.tabs
                        li.tab
                          a(href="#tab1") Все
                        li.tab
                          a(href="#tab2") Фото/Видео
                        li.tab
                          a(href="#tab3") Характеристики
                        li.tab
                          a(href="#tab4").active Отзывы
                        li.tab
                          a(href="#tab5") Упаковка
                    .product-tab-cont.content
                      #tab1.tab-box
                        p Каждое украшение интернет магазина Eurogold.ua комплектуется высококачественной подарочной упаковкой, а так же брендированным пакетом, так что Вам не придется беспокоится о том, где хранить Ваши ювелирные изделия. Приятных Вам покупок в нашем интернет магазине ювелирных украшений Eurogold.
                        ul
                          li Каждое украшение интернет магазина
                          li Каждое украшение интернет магазина
                          li Каждое украшение интернет магазина
                          li Каждое украшение интернет магазина
                          li Каждое украшение интернет магазина
                      #tab2.tab-box
                        .images-gallery
                          img.materialboxed(src='assets/images/product1.jpg',alt="")
                          img.materialboxed(src='assets/images/product1.jpg',alt="")
                          img.materialboxed(src='assets/images/product1.jpg',alt="")
                          img.materialboxed(src='assets/images/product1.jpg',alt="")
                          img.materialboxed(src='assets/images/product1.jpg',alt="")
                        iframe(width='420', height='315', src='http://www.youtube.com/embed/9B7te184ZpQ?rel=0', frameborder='0', allowfullscreen='')
                      #tab3.tab-box
                        .product-char
                          mixin prd-char(col,col2)
                            .product-char-row
                              .product-char-col
                                span= col
                              .product-char-col= col2
                          +prd-char('Код товара:','499952')
                          +prd-char('Артикул:','КД7556/1')
                          +prd-char('Страна-производитель:','Украина')
                          +prd-char('Металл:','золото')
                          +prd-char('Вес изделия:','3.37 гр')
                          +prd-char('Цвет металла:','белый')
                          +prd-char('Камень:','бриллиант')
                          +prd-char('Вес камня:','1.18')
                          +prd-char('Характеристики камня №1:','5/7')
                          +prd-char('Цвет камня:','белый')
                          +prd-char('Тип закрепки камней:','кастовая')
                          +prd-char('Форма огранки камней:','круглая 57 граней')
                          +prd-char('Код товара:','499952')
                          +prd-char('Артикул:','КД7556/1')
                          +prd-char('Страна-производитель:','Украина')
                          +prd-char('Металл:','золото')
                          +prd-char('Вес изделия:','3.37 гр')
                          +prd-char('Цвет металла:','белый')
                          +prd-char('Камень:','бриллиант')
                          +prd-char('Вес камня:','1.18')
                          +prd-char('Характеристики камня №1:','5/7')
                          +prd-char('Цвет камня:','белый')
                          +prd-char('Тип закрепки камней:','кастовая')
                          +prd-char('Форма огранки камней:','круглая 57 граней')
                          .all-char.js_all_char Все характеристики
                      #tab4.tab-box
                        .product-tab-head Отзывы
                        .testi-item
                          .testi-item__txt
                            | Очень довольна обслуживанием, доставкой, все на высшем уровне. Очень красивая упаковка. Все просто супер, кольцо выглядит даже лучше, чем на фото. Буду всем рекомендовать. Спасибо!!!
                            .testi-author
                              | — Лариса
                              span 6 мая 2015
                        .testi-item
                          .testi-item__txt
                            | Очень довольна обслуживанием, доставкой, все на высшем уровне. Очень красивая упаковка. Все просто супер, кольцо выглядит даже лучше, чем на фото. Буду всем рекомендовать. Спасибо!!!
                            .testi-author
                              | — Лариса
                              span 6 мая 2015
                        .testi-item
                          .testi-item__txt
                            | Очень довольна обслуживанием, доставкой, все на высшем уровне. Очень красивая упаковка. Все просто супер, кольцо выглядит даже лучше, чем на фото. Буду всем рекомендовать. Спасибо!!!
                            .testi-author
                              | — Лариса
                              span 6 мая 2015
                        .testi-item
                          .testi-item__txt
                            | Очень довольна обслуживанием, доставкой, все на высшем уровне. Очень красивая упаковка. Все просто супер, кольцо выглядит даже лучше, чем на фото. Буду всем рекомендовать. Спасибо!!!
                            .testi-author
                              | — Лариса
                              span 6 мая 2015

        //how buy
        section.how-buy
          .heading-section.align-center
            span Как купить
          .container
            .how-buy-item
              .how-buy__img
                span.icon-mac
              span 1. Делайте заказ онлайн или по телефону
            .how-buy-item
              .how-buy__img
                span.icon-bag
              span 2. Мы оформим изделие в подарочную упаковку
            .how-buy-item
              .how-buy__img
                span.icon-fast-del
              span 3. И доставим ваш заказ на дом за 1-3 дня
            .how-buy-item
              .how-buy__img
                span.icon-mark
              span 4. Все украшения имеют гарантию качества
            .how-buy-item
              .how-buy__img
                span.icon-money
              span 5. Примеряете украшение и оплачиваете курьеру
        //popular product
        section.popular-product
          .heading-section.align-center
            span Похожие товары
          .container
            .popular-product-slider
              .swiper-container
                .swiper-wrapper
                  .swiper-slide
                    a(href="#").new-product-item
                      .new-product-item__img
                        img(src="assets/images/prod5.jpg",alt="")
                        .view-prod
                          | смотреть
                          span.icon-right

                      .new-product-item__txt
                        .prod-txt Золотая печатка с агатом и цирконами, КП008
                        .prod-price
                          b 5 806
                          | руб.
                  .swiper-slide
                    a(href="#").new-product-item
                      .new-product-item__img
                        img(src="assets/images/prod6.jpg",alt="")
                        .view-prod
                          | смотреть
                          span.icon-right
                      .new-product-item__txt
                        .prod-txt Золотое кольцо с «багетным» цирконом, КД012
                        .prod-price
                          b 15 806
                          | руб.
                  .swiper-slide
                    a(href="#").new-product-item
                      .new-product-item__img
                        img(src="assets/images/prod7.jpg",alt="")
                        .view-prod
                          | смотреть
                          span.icon-right
                      .new-product-item__txt
                        .prod-txt Кольцо с/кд, КД4032ТОПАЗ, 478163
                        .prod-price
                          b 15 806
                          | руб.
                  .swiper-slide
                    a(href="#").new-product-item
                      .new-product-item__img
                        img(src="assets/images/prod8.jpg",alt="")
                        .view-prod
                          | смотреть
                          span.icon-right
                      .new-product-item__txt
                        .prod-txt Ладанка из красного золота «Николай Чудотворец» без камней, П006
                        .prod-price
                          b 15 806
                          | руб.
                  .swiper-slide
                    a(href="#").new-product-item
                      .new-product-item__img
                        img(src="assets/images/prod4.jpg",alt="")
                        .view-prod
                          | смотреть
                          span.icon-right
                      .new-product-item__txt
                        .prod-txt Ладанка из красного золота «Николай Чудотворец» без камней, П006              Ш003Б
                        .prod-price
                          b 15 806
                          | руб.

              .swiper-button-prev
                span.icon-left-big
              .swiper-button-next
                span.icon-right-big
        // you view
        //popular product
        section.you-view
          .heading-section.align-center
            span Вы смотрели
          .container
            mixin view-prod
              a(href="#").new-product-item
                .new-product-item__img
                  img(src="assets/images/prod5.jpg",alt="")
                  .view-prod
                    | смотреть
                    span.icon-right

                .new-product-item__txt
                  .prod-txt Золотая печатка с агатом и цирконами, КП008
                  .prod-price
                    b 5 806
                    | руб.
            +view-prod
            +view-prod
            +view-prod
            +view-prod
            +view-prod
            +view-prod
            +view-prod
            +view-prod

        //sec section
        section.seo-section
          .container
            span.h1 Ювелирный интернет магазин Eurogold.ua
            p Ювелирные украшения давно стали неотъемлемой частью повседневной жизни каждого современного человека. Они никогда не теряют свою актуальность и постоянно находятся на вершине модных трендов. На сегодняшний день изделия из благородных металлов – это не только стильное дополнение к одежде, но и способ самовыражения, который может подчеркнуть изысканность вкуса своего владельца. Правильно подобранный драгоценный аксессуар способен чудесным образом преобразить человека, добавив в его образ нотки совершенства. Современные мастера, руководствуясь свежими тенденциями модных течений, создают настоящие шедевры ювелирного искусства, воплощенные в золоте и драгоценных камнях. Кулоны, серьги, цепочки, брошки, браслеты, кольца и другие аксессуары, представленные в каталогах магазинов драгоценностей, имеют только одну цель — придавать облику оригинальность и привлекательность. Поэтому за все время своего существования человечество не придумало более значимого подарка, чем золотые украшения.
            span.h2 Золотые изделия на любой вкус
            p Компания «Eurogold» и ее ювелирный интернет-магазин приглашают вас совершить незабываемое путешествие в мир драгоценных аксессуаров на все случаи жизни. Мы работаем на украинском рынке золотых украшений уже более 15 лет и предлагаем только лучшие экземпляры изделий из благородных металлов от производителя. Выбору клиента представлено более 10 000 моделей ювелирной продукции, выполненных в различных формах и стилях. Восхитительные золотые украшения, собранные в эксклюзивные коллекции, являются гордостью нашей фирмы. В каждом кулоне, кольце и цепочке таится утонченность и чарующая красота истинного искусства. Профессиональные дизайнеры, работающие с ювелирным брендом «Eurogold» создали великолепные аксессуары, воистину достойные восхищения. Шикарный стиль, чистое сияние бриллиантов и плавные линии золота гармонично соединены в каждом изделии.
      //footer
      include _footer

